body{
	background-color: transparent;
}

.container{
	width: 100%!important;
}

a {
	color: #000;
}

a:hover {
	color: #4192a8;
}

a svg:hover {
	fill: #f98012;
}

nav {
    margin-top: 20px;
}

thead {
	background-color: #999;
	color: #fff;
}

td, th {
	font-size: 1.1em;
	text-align: center;
	font-weight: 400;
}

.table-responsive{
	background-color: #ffffff;
}

svg {
	width: 20px;
	fill: #333;
}

.btn svg {
	width: 12px;
	margin-right: 5px;
}
button[type="submit"] {
	float: right;
	font-size: 18px;
	margin-top: 15px;
}

.placeholder {
	height:50px;
	width: 50px;
	text-align: center;
    display: inline-block;
    overflow: hidden;
}
.placeholder img {
    width: auto;
    height: 100%;
}

.form-group .placeholder {
	margin-left: 10px;
}

.border {
	border-bottom: 2px solid #fff;
	margin: 15px 0;
}

.footer-nav {
	float: right;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* MODAL STYLES */

#editStudentModal h4 {
	margin-bottom: 10px;
}

.modal-uploads {
	display: inline-block;
}

.modal-dimensions {
	list-style-type: none;
}

.modal-dimensions select {
	display: inline;
	margin-left: 20px;
}

.modal-dimensions .form-control {
	width: 10%;
}

.modal-dimensions li {
	margin-bottom: 15px;
}

.modal-border {
	border-bottom: 1px solid #e7e7e7;
	margin: 15px -15px;
}

/* END MODAL STYLES */

/* ADD PROJECT STYLES */

#addProject h1 {
	margin-bottom: 20px;
}

#addProject {
	background: #efefef;
}

#addProject textarea {
	margin-top: 15px;
	margin-bottom: 15px;
}

#all-projects {
	display: inline-block;
	margin-bottom: 10px;
}

/* END PROJECT STYLES */

/* ADD CLASS STYLES */

#addClass {
	background: #efefef;
}

#addClass label {
	margin-top: 15px;
}

#add-student-button {
	float: right;
	margin-top: 15px;
}