<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editStudentModalLabel">{{ record.firstname }} {{ record.lastname }}'s Grade for {{ record.classname }}</h4>
    </div>

    <div class="modal-body">
        <h4>Upload files</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="placeholder" style="float: left; margin-right: 10px;">
                    <img ng-show="artwork[0] != null" ngf-default-src="/mobart/data/no_file.png" ngf-src="artwork[0]" />
                    <img ng-show="{{ 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'mp4' || 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'mov' }}" ng-hide="artwork[0] != null" ng-src="/mobart/data/ic_video.png" />
                    <img ng-show="{{ 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'jpg' || 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'png' }}" ng-hide="artwork[0] != null" ng-src="{{ '/mobart/data/files/' + record.artworkfilepath }}" />
                    <img ng-hide="{{ 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'jpg' || 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'png' ||
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'mp4' || 
                            record.artworkfilepath.substr(record.artworkfilepath.length - 3) == 'mov' }}" ng-src="/mobart/data/no_file.png" />
                </div>
                <div class="form-group">
                    <button ngf-select ng-model="artwork" ngf-change="uploadArtwork($files)" class="btn btn-default">Upload Artwork</button>
                    <p class="help-block">Upload the student's artwork.</p>
                </div>
            </div>
    
            <div class="col-sm-6">
                <div class="placeholder" style="float: left; margin-right: 10px;">
                    <img ng-show="writing[0] != null" ngf-default-src="/mobart/data/no_file.png" ngf-src="writing[0]" />
                    <img ng-show="{{ 
                            record.writingsamplefilepath.substr(record.writingsamplefilepath.length - 3) == 'jpg' || 
                            record.writingsamplefilepath.substr(record.writingsamplefilepath.length - 3) == 'png' }}" ng-hide="writing[0] != null" ng-src="{{ record.writingsamplefilepath ? '/mobart/data/files/' + record.writingsamplefilepath : '/mobart/data/no_file.png' }}" />
                    <img ng-show="{{ 
                            record.writingsamplefilepath.substr(record.writingsamplefilepath.length - 3) == 'jpg' || 
                            record.writingsamplefilepath.substr(record.writingsamplefilepath.length - 3) == 'png' }}" ng-src="/mobart/data/no_file.png" />
                </div>
                <div class="form-group">
                    <button ngf-select ng-model="writing" ngf-change="uploadWritingSample($files)" class="btn btn-default">Upload Writing Sample</button>
                    <p class="help-block">Upload the student's writing sample.</p>
                </div><!-- end form-group -->
            </div>
        </div>

        <div>
            <div class="modal-border"></div>

            <h4>Score the Dimensions</h4>

            <ul class="modal-dimensions">
                <li>Dimension 1 <select class="form-control" ng-model="record.ex1grade" ng-options="options for options in options"></select></li>
                <li>Dimension 2 <select class="form-control" ng-model="record.ex2grade" ng-options="options for options in options"></select></li>
                <li>Dimension 3 <select class="form-control" ng-model="record.ex3grade" ng-options="options for options in options"></select></li>
            </ul>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button> 
            <button type="button" class="btn btn-primary" ng-click="save(record)">Save</button>
        </div>
    </div>
</div>