<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editStudentModalLabel">{{ record.firstname }} {{ record.lastname }}'s Grade for {{ record.classname }}</h4>
    </div>

    <div class="modal-body">
        <h4>Upload files</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="placeholder"></div>
                <div class="form-group" ng-controller="FileUploadController">
                    <button ngf-select ngf-change="upload($files)" class="btn btn-default">Upload Artwork</button>
                    <p class="help-block">Upload the student's artwork.</p>
                </div>
            </div>
    
            <div class="col-sm-6">
                <div class="placeholder"></div>
                <div class="form-group">
                    <button ngf-select ngf-change="upload($files)" class="btn btn-default">Upload Writing Sample</button>
                    <p class="help-block">Upload the student's writing sample.</p>
                </div><!-- end form-group -->
            </div>
        </div>

        <div>
            <div class="modal-border"></div>

            <h4>Score the Dimensions</h4>

            <ul class="modal-dimensions">
                <li>Dimension 1 <select class="form-control" ng-model="record.ex1grade" ng-options="options for options in options"></select></li>
                <li>Dimension 2 <select class="form-control" ng-model="record.ex2grade" ng-options="options for options in options"></select></li>
                <li>Dimension 3 <select class="form-control" ng-model="record.ex3grade" ng-options="options for options in options"></select></li>
                <li>Dimension 4 <select class="form-control" ng-model="record.ex4grade" ng-options="options for options in options"></select></li>
            </ul>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button> 
            <button type="button" class="btn btn-primary" ng-click="save(record)">Save</button>
        </div>
    </div>
</div>