<section id="addProject">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <header>
                    <h1>Project Details</h1><a class="btn btn-default" id="all-projects" href="projects.html" role="button">All Projects</a>

                    <div class="border"></div>
                </header>
            </div><!-- end col-sm-10 col-sm-offset-1 -->
        </div><!-- end row -->
        <!-- FORM STARTS HERE -->

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form>
                    <h3>About the Project</h3>

                    <div class="form-group">
                        <label for="project-name">Project Name</label> <input type="email" class="form-control" id="project-name" placeholder="Name Your Project">
                    </div>

                    <div class="form-group">
                        <label for="class-name">Class</label> <input type="text" class="form-control" id="class-name" placeholder="Class">
                    </div>

                    <div class="form-group">
                        <label for="teacher">Teacher</label> <input type="text" class="form-control" id="teacher" placeholder="Teacher">
                    </div>

                    <div class="border"></div><!-- DIMENSION 1: GREAT -->

                    <h3>Dimension 1</h3>

                    <div class="form-group">
                        <label for="dimension-1-name">Name</label> <input type="text" class="form-control" id="dimension-1-name" placeholder="Name of Dimension 1">
                    </div>

                    <h4>Score: 4 (Great)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD1S4">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD1S4">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 1: GREAT -->
                    <!-- DIMENSION 1: GOOD -->

                    <h4>Score: 3 (Good)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD1S3">Example:</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD1S3">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 1: GOOD -->
                    <!-- DIMENSION 1: FAIR -->

                    <h4>Score: 2 (Fair)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD1S2">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD1S2">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 1: FAIR -->
                    <!-- DIMENSION 1: POOR -->

                    <h4>Score: 1 (Poor)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD1S1">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD1S1">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- DIMENSION 2: GREAT -->

                    <h3>Dimension 2</h3>

                    <div class="form-group">
                        <label for="dimension-2-name">Name</label> <input type="text" class="form-control" id="dimension-2-name" placeholder="Name of Dimension 2">
                    </div>

                    <h4>Score: 4 (Great)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD2S4">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD2S4">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 2: GREAT -->
                    <!-- DIMENSION 2: GOOD -->

                    <h4>Score: 3 (Good)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD2S3">Example:</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD2S3">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 2: GOOD -->
                    <!-- DIMENSION 2: FAIR -->

                    <h4>Score: 2 (Fair)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD2S2">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD2S2">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 2: FAIR -->
                    <!-- DIMENSION 2: POOR -->

                    <h4>Score: 1 (Poor)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD2S1">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD3S1">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 2: POOR -->
                    <!-- DIMENSION 3: GREAT -->

                    <h3>Dimension 3</h3>

                    <div class="form-group">
                        <label for="dimension-2-name">Name</label> <input type="text" class="form-control" id="dimension-3-name" placeholder="Name of Dimension 3">
                    </div>

                    <h4>Score: 4 (Great)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD3S4">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD3S4">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 3: GREAT -->
                    <!-- DIMENSION 3: GOOD -->

                    <h4>Score: 3 (Good)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD3S3">Example:</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD3S3">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 3: GOOD -->
                    <!-- DIMENSION 3: FAIR -->

                    <h4>Score: 2 (Fair)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD3S2">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD3S2">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 3: FAIR -->
                    <!-- DIMENSION 3: POOR -->

                    <h4>Score: 1 (Poor)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD3S1">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD3S1">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 2: POOR -->
                    <!-- DIMENSION 4: GREAT -->

                    <h3>Dimension 4</h3>

                    <div class="form-group">
                        <label for="dimension-4-name">Name</label> <input type="text" class="form-control" id="dimension-4-name" placeholder="Name of Dimension 4">
                    </div>

                    <h4>Score: 4 (Great)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD4S4">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD4S4">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 4: GREAT -->
                    <!-- DIMENSION 4: GOOD -->

                    <h4>Score: 3 (Good)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD4S3">Example:</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD4S3">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 4: GOOD -->
                    <!-- DIMENSION 4: FAIR -->

                    <h4>Score: 2 (Fair)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD4S2">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD4S2">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 2: FAIR -->
                    <!-- DIMENSION 4: POOR -->

                    <h4>Score: 1 (Poor)</h4>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="InputFileD4S1">Example</label>

                            <div class="placeholder"></div><input type="file" id="InputFileD4S1">
                        </div>
                    </div>

                    <div class="col-sm-7 col-sm-offset-1">
                        <h5>Criteria</h5>
                        <textarea class="form-control" rows="3"></textarea>
                    </div><!-- END OF DIMENSION 4: POOR -->

                    <div class="border"></div><button type="submit" class="btn btn-default">Save</button>
                </form>
            </div><!-- End col-sm-10 col-sm-offset-1 -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="footer-nav">
                    <a href="classes.html">Classes</a> | <a href="index.html">Students</a>
                </div>
            </div>
        </div><!-- end container -->
    </div>
</section>
