<div class="container">
    <header>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="pull-left">Grades</h1>
                <nav class="pull-right">
                    <a class="btn btn-primary" id="add-project-button" href="/data/projects/add" role="button"> Add a Project</a>
                </nav>
            </div>
        </div>
    </header>
    

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Dimension 1</th>
                    <th>Dimension 2</th>
                    <th>Dimension 3</th>
                    <th>Dimension 4</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tr ng-repeat="project in projects">
                <td class="project-name">{{ project.name }}</td>
                <td class="dimension">
                    <div class="placeholder"></div>
                </td>
                <td class="dimension">
                    <div class="placeholder"></div>
                </td>
                <td class="dimension">
                    <div class="placeholder"></div>
                </td>
                <td class="dimension">
                    <div class="placeholder"></div>
                </td>
                <td class="edit"><a href="/data/projects/edit/{{ project.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="delete"><a ng-click="deleteModal(project)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </table>
    </div><!-- end table-responsive -->
</div><!-- end container -->
