<div class="container">
    <header>
        <div class="row">
            <div class="col-sm-12">
                <h1>Grades</h1>
                <nav>
                    <div class="form-inline">
	                    <!--<select class="form-control" ng-model="sortSemesters">
                            <option value="">Filter by Semester</option>
                            <option ng-repeat="s in semesters" value="{{ s.id }}">{{ s.semestername }}</option>
                        </select>-->
                        <input ng-model="search.$" ng-change="getFilteredExportRecords()" class="form-control" role="search" placeholder="Search students">
                        <div class="btn-group" role="group">
                            <label class="btn btn-default active" ng-model="sortUsers" ng-change="getFilteredExportRecords()" btn-radio="">All Students</label>
                            <label class="btn btn-default" ng-model="sortUsers" ng-change="getFilteredExportRecords()" btn-radio="'{{ uid }}'">My Students</label>
                        </div><!-- end my student button-group -->
                        <select class="form-control" ng-model="sortProjects" ng-change="getFilteredExportRecords()">
                            <option value="">Filter by Project</option>
                            <option ng-repeat="project in projects" value="{{ project.id }}">{{ project.name}}</option>
                        </select>
                        <select class="form-control" ng-model="sortTeachers" ng-change="getFilteredExportRecords()">
                            <option value="">Filter by Teacher</option>
                            <option ng-repeat="teacher in teachers" value="{{ teacher.tid }}">{{ teacher.firstname + " " + teacher.lastname }}</option>
                        </select>
                    </div>
                </nav>
                <br />
            </div>
        </div>
    </header>

    <div class="table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="15%" ng-click="sortType = 'lastname'; sortReverse = !sortReverse">Student
                        <span ng-show="sortType == 'lastname' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'lastname' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="10%" ng-click="sortType = 'tid'; sortReverse = !sortReverse">Teacher
                        <span ng-show="sortType == 'tid' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'tid' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                     <th width="10%" ng-click="sortType = 'tid'; sortReverse = !sortReverse">Project
                        <span ng-show="sortType == 'tid' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'tid' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="10%" ng-click="sortType = 'classname'; sortReverse = !sortReverse">School
                        <span ng-show="sortType == 'classname' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'classname' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="5%">Artwork</th>
                    <th width="5%">Writing Sample</th>
                    <th width="5%" ng-click="sortType = 'ex1grade'; sortReverse = !sortReverse">Dim. 1
                        <span ng-show="sortType == 'ex1grade' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'ex1grade' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="5%" ng-click="sortType = 'ex2grade'; sortReverse = !sortReverse">Dim. 2
                        <span ng-show="sortType == 'ex2grade' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'ex2grade' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="5%" ng-click="sortType = 'ex3grade'; sortReverse = !sortReverse">Dim. 3
                        <span ng-show="sortType == 'ex3grade' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'ex3grade' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="5%" ng-click="sortType = 'total|num'; sortReverse = !sortReverse">Total
                        <span ng-show="sortType == 'total|num' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'total|num' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
            </thead>

            <tr dir-paginate="student in grades | filter:search | filter:{pid: sortProjects}:true | filter:{tid: sortUsers}:true | filter:{tid: sortTeachers}:true | orderBy:sortType:sortReverse | itemsPerPage:15" current-page="currentPage" data-gid="{{ student.id }}">
                <td><input type="checkbox" name="selectedGid[]" value="{{ student.id }}" ng-checked="checkedGid.indexOf(student.id) > -1" ng-click="toggleSelection(student.id)" /></td>
                <td class="student-name">{{ student.firstname + " " + student.lastname }}</td>
                <td class="teacher-name" ng-bind="getNameFromTid(student.tid)"></td>
                <td class="teacher-name" ng-bind="getProjectsById(student.pid)"></td>
                <td class="class-name">{{ student.classname }}</td>
                <td class="artwork">
                    <div class="placeholder">
                        <a href="{{ student.artworkfilepath ? '/mobart/data/files/' + student.artworkfilepath : '#' }}" 
                           target="{{ student.artworkfilepath ? '_blank' : '' }}">
                            <img ng-src="{{ getThumbnail(student.artworkfilepath) }}" />
                        </a>
                    </div>
                </td>
                <td class="writing-sample">
                    <div class="placeholder">
                        <a href="{{ student.writingsamplefilepath ? '/mobart/data/files/' + student.writingsamplefilepath : '#' }}" target="{{ student.writingsamplefilepath ? '_blank' : '' }}">
                            <img ng-src="{{ getThumbnail(student.writingsamplefilepath) }}" />
                        </a>
                    </div>
                </td>
                <td class="dimension">{{ student.incomplete == 1 ? 'I' : (student.ex1grade | num) }}</td>
                <td class="dimension">{{ student.incomplete == 1 ? 'I' : (student.ex2grade | num) }}</td>
                <td class="dimension">{{ student.incomplete == 1 ? 'I' : (student.ex3grade | num) }}</td>
                <td class="total">{{ student.incomplete == 1 ? 'I' : (student.total | num) }}</td>
                <td class="edit"><a ng-show="checkAdmins() || $root.uid == student.tid" ng-click="editModal(student)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="delete"><a ng-show="checkAdmins()" ng-click="deleteModal(student)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </table>
        <dir-pagination-controls
            style="text-align: center;width: 100%;display: block;"
            on-page-change="pageChangeHandler(newPageNumber)">
        </dir-pagination-controls>
        <div class="dropdown" dropdown>
            <button class="btn btn-primary dropdown-toggle" type="button" dropdown-toggle>Download
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-csv="exportFilterRecords" csv-header="getHeader()" filename="MOBARTGradeTable.csv"><span class="glyphicon glyphicon-file"></span> Download All (CSV)</a></li>
                <li><a href="#" ng-click="downloadFilterFiles"><span class="glyphicon glyphicon-picture"></span> Download All (Images/Videos)</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-csv="exportCheckedRecords" csv-header="getHeader()" filename="MOBARTGradeTable.csv"><span class="glyphicon glyphicon-file"></span> Download Selected (CSV)</a></li>
                <li><a href="#" ng-click="downloadCheckedFiles"><span class="glyphicon glyphicon-picture"></span> Download Selected (Images/Videos)</a></li>
            </ul>
        </div>
        <button class="btn btn-default hidden" type="button">Export as CSV</button>
    </div><!-- end table-responsive -->
</div><!-- end container -->
